<script type='text/javascript'
    src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js">    </script>
<script src="/scrips/Caja.js"></script>
<script src="/scrips/Gastos.js"></script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="mb-3 m-4" id="TipoT"> Caja </h3>
</div>

<div class="row mx-auto mb-2">
    <div class="col-md-6 ">
        <div id="alertas">

        </div>
        <div class="card m-2 p-2">
            <div class="card-body">


                <div class="row">
                    <div class="card-title col-md-2 col-6  "> Apertura</div>
                    <div class=" row col-12 col-md-4 m-2">
                        <label for="ApeEle"> Electronico </label>
                        }
                        <input type="text" data-inputmask="'alias': 'numeric'"  value="{{Datos.Apertura.Electronico}}" class="form-control" id="ApeEle"
                            name="ApeEle">
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="ApeEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Apertura.Efectivo}}" class="form-control" id="ApeEfe"
                            name="ApeEfe">


                    </div>

                </div>
                <div class="col-md-6 col-12  m-auto ">
                    <a class="btn btn-success m-2 d-block " href="javascript:void(0)" onclick="Apertura(ApeEfe.value,ApeEle.value)"> Apertura </a>
                    <a class="btn btn-success m-2 d-none " href="javascript:void(0)" onclick="Apertura(ApeEfe.value,ApeEle.value)"> Editar Apertura </a>
                </div>

            </div>

        </div>

        <div class="card m-2 p-2">
            <div class="card-body">
                <div class="row">
                    <div class="card-title col-md-2 col-6  "> Nuevo Gasto </div>
                    <div class=" row col-12 col-md-4 m-2">
                        <label for="NGasEle"> Electronico </label>
                        <input type="text" data-inputmask="'alias': 'numeric'"   class="form-control" id="NGasEle"
                            name="NGasEle">
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="NGasEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'"   class="form-control" id="NGasEfe"
                            name="NGasEfe">
                    </div>

                    <div class=" row col-12 m-2">
                        <label for="GasDes"> Descripcion </label>
                        <input type="text" class="form-control" id="GasDes" name="GasDes">
                    </div>

                </div>
                <div class="col-md-6 col-12 m-auto ">
                    <a class="btn btn-success m-2 d-block" id="BtnGasto" href="javascript:void(0)" onclick="Gastos(NGasEfe.value,NGasEle.value,GasDes.value,'{{user.username}}')" > Nuevo Gasto </a>
                    <a class="btn btn-success m-2 d-none" id="BtnEditGasto" href="javascript:void(0)" onclick="EditarGastos(NGasEfe.value,NGasEle.value,GasDes.value,'{{user.username}}',localStorage.Gastoid)" > Editar Gasto </a>
                </div>
            </div>

        </div>
    </div>


    <div class="col-md-6 ">
        <div class="card m-2 p-2">
            <div class="card-body">
                <div class="row">
                    <div class=" card-title col-md-2 col-6 p-2"> Entradas </div>
                        
                    <div class=" col-12 col-md-4 m-2">

                        <label for="EntEle">Electonico</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" class="form-control" value="{{Datos.Entradas.Electronico}}"  id="EntEle"  name="EntEle" readonly>
                    </div>

                    <div class="col-12 col-md-4 m-2">
                        <label for="EntEfe">Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Entradas.Efectivo}}"class="form-control" id="EntEfe"
                            name="EntEfe" readonly>
                    </div>

                </div>
                <div class="row">
                    <div class="card-title col-md-2 col-6 "> Salidas </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="SalEle"> Electronico </label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Salidas.Electronico}}"class="form-control" id="SalEle"
                            name="SelEle" readonly>
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="SalEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Salidas.Efectivo}}" class="form-control" id="SalEfe"
                            name="SalEfe" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="card-title col-md-2 col-6 "> Gastos </div>
                    <div class=" row col-12 col-md-4 m-2">
                        <label for="GasEle"> Electronico </label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Gastos.Electronico}}" class="form-control" id="GasEle"
                            name="GasEle" readonly>
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="GasEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Gastos.Efectivo}}" class="form-control" id="GasEfe"
                            name="GasEfe" readonly>
                    </div>

                </div>
                <div class="row">
                    <div class="card-title col-md-2 col-6 "> Total </div>
                    <div class=" row col-12 col-md-4 m-2">
                        <label for="TotEle"> Electronico </label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Total.Electronico}}"class="form-control" id="TotEle"
                            name="TotEle" readonly>
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="TotEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" value="{{Datos.Total.Efectivo}}" class="form-control" id="TotEfe"
                            name="TotEfe" readonly>
                    </div>

                </div>


                <div class="row">
                    <div class="card-title col-md-2 col-6 "> Valor Cierre </div>
                    <div class=" row col-12 col-md-4 m-2">

                        <label for="VCierreEle"> Electronico </label>
                        <input type="text" data-inputmask="'alias': 'numeric'" class="form-control" id="VCierreEle"
                            name="VCierreEle" >
                    </div>

                    <div class=" row col-12 col-md-4 m-2">
                        <label for="VCierreEfe"> Efectivo</label>
                        <input type="text" data-inputmask="'alias': 'numeric'" class="form-control" id="VCierreEfe"
                            name="VCierreEfe" >
                    </div>
                </div>


                <div class=" col-md-8 col-12  text-center m-auto"></div>
                <div class="col-md-6 col-12 m-auto">
                    <a class="btn btn-success d-block m-2 " href="javascript:void(0)" onclick="Cierre(VCierreEfe.value,VCierreEle.value)"> Cierre </a>
                    <a class="btn btn-success d-none m-2 " href="javascript:void(0)" onclick="EditarCierre(VCierreEfe.value,VCierreEle.value)"> Editar Cierre </a>
                </div>

            </div>

        </div>
    </div>
</div>



</div>

<div class="row">
    <div class="col-12 col-md-4 p2">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">
                    <h4>Gastos</h4>
                </div>
            </div>
            <div class="card-body">
                <table id="Gastos" data-height="900" data-toggle="table" data-toolbar="#toolbar" data-detail-view="true"
                    data-detail-view-icon="true" data-detail-formatter="DatosDetalleGastos" data-ajax="DatosGastos"
                    data-pagination-parts="['pageList]" data-mobile-responsive="true" data-page-size="25"
                    data-pagination="true" data-query-params="queryParams">
                    <thead>
                        <tr>

                            <th data-field="FE">Fecha</th>
                            <th data-field="Descripcion">Descripcion</th>
                            <th data-field="Monto">Valor</th>
                            <th data-field="operate" data-formatter="GastosOP" data-events="EventsGastos"> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <div class="col-12 col-md-8 p2">
        <div class="card ">
            <div class="card-header">
                <div class="card-title">
                    <h4>Movimiento Diario</h4>
                </div>
            </div>
            <div class="card-body">
                <table id="CajaMovimiento" data-height="900" data-toggle="table" data-toolbar="#toolbar"
                    data-detail-view="true" data-detail-view-icon="true" data-detail-formatter="DatosDetalleCaja"
                    data-ajax="DatosCaja" data-pagination-parts="['pageList]" data-mobile-responsive="true"
                    data-page-size="25" data-pagination="true" data-query-params="queryParams">
                    <thead>
                        <tr>

                            <th data-field="FechaApertura">Fecha Apertura</th>
                            <th data-field="MontoEfectivo">Apertura Efectivo</th>
                            <th data-field="MontoElectronico">Apertura Electronico</th>
                            <th data-field="FechaCierre">Fecha Cierre</th>
                            <th data-field="SaldoEfectivo">Cierre Efectivo</th>
                            <th data-field="SaldoElectronico">Cierre Electronico</th>

                            <th data-field="operate" data-formatter="DatosCajaOP" data-events="EventsCaja">
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="AlertaDialog" tabindex="-1" role="dialog" aria-labelledby="AlertaDialogLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AlertaDialogLabel">Diferencia Monto Electronico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DifMontoElectronico">


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                    onclick="EfetuarApertura(ApeEle.value,ApeEfe.value)">Continuar Apertura</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(':input').inputmask();
    $('#ApeEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#ApeEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#GasEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#GasEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#EntEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#EntEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#SalEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#SalEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#NGasEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#NGasEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#TotEfe').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });
    $('#TotEle').inputmask({ "groupSeparator": ".", "radixPoint": ",", "autoGroup": "true" });


</script>