<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> {{info.T.[0].Tipo}} </title>
    <style type="text/css">
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #000000;
            text-decoration: underline;
        }

        body {
            position: relative;
            overflow-x: hidden;
            width: 800px;
            height: auto;
            margin: 0 10px;
            color: #000000;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 30px;
        }

        #logo {
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            width: 90px;
        }

        h1 {
            border-top: 1px solid #5D6975;
            border-bottom: 1px solid #5D6975;
            color: #000000;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            background: url(dimension.png);
        }

        #project {
            float: left;
        }

        #project span {
            color: #000000;
            text-align: right;
            width: 100px;
            margin-right: 10px;
            display: inline-block;
            font-size: 1em;
        }

        #company {
            float: right;
            text-align: right;
            margin: 0px 30px 30px 0px;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 800px;
            border-collapse: collapse;
            border-spacing: 0;
            margin: 20px  ;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th,
        table td {
            text-align: center;
        }

        table th {
            padding: 1px 1px;
            color: #000000;
            border-bottom: 1px solid #000000;
            white-space: nowrap;
            font-weight: normal;
            font-size: 0.9em;
        }

        table .service,
        table .desc {
            text-align: left;
            font-size: 0.9em;
        }

        table td {
            padding: 2px;
            text-align: center;
            text-transform: uppercase;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        table td.unit,
        table td.qty,
        table td.total {
            font-size: 1em;
        }

        table td.grand {
            border-top: 1px solid #000000;
            ;
        }

        #notices .notice {
            color: #000000;
            font-size: 0.9em;
        }

        footer {
            color: #000000;
            width: 100%;
            height: 30px;
            position: relative;
            bottom: 0;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;
        }
    </style>

</head>

<body>
    <header class="clearfix">

        <h1>PEDIDOS</h1>

        <div id="project">
            <div><span>D#</span>{{info.T.[0].Documento}}</div>
            <div><span>PROVEEDOR</span> {{info.T.[0].Nombre}}</div>
            <div><span>NIT/CC</span> {{info.T.[0].poc}}</div>
            <div><span>FECHA </span> {{Fecha info.T.[0].FechaEmision}}</div>
        </div>
    </header>
    <main>

        <table>
            <thead>
                <tr>
                    <th class="desc">ITEM </th>
                    <th class="desc">DETALLE </th>
                    <th class="desc">PRECIO</th>
                    <th class="desc">CANTIDAD</th>
                    <th class="desc">T.UNITARIO</th>
                </tr>
            </thead>
            <tbody>

                
                {{#each info.Detalle}}
               
                <tr>
                    <td class="unit">{{Item}}</td>
                    <td class="desc">{{Nombre}}</td>
                    <td class="unit">{{Valor}}</td>
                    <td class="unit">{{Cantidad}}</td>
                    <td class="unit">${{Total}}</td>
                </tr>
            
                {{/each}}

            </tbody>
        </table>

    </main>
    <footer>
        <table>
            <tbody>

                <tr>
                    <td colspan="5">SUBTOTAL</td>
                    <td colspan="2" class="total">{{TotalST}}</td>
                </tr>
                
                <tr>
                    <td colspan="5">DESCUENTO </td>
                    <td colspan="2" class="total">{{TotalDes}}</td>
                </tr>
                <tr>
                    <td colspan="5" class="grand total">TOTAL</td>
                    <td colspan="2" class="grand total">${{info.T.[0].Total}}</td>
                </tr>
            </tbody>
        </table>
        <div id="notices">
            <div>OBSERVACIONES :</div>
            <div class="notice"> </div>
        </div>
        ยก Gracias por su tiempo !
    </footer>
</body>

</html>